<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sac.demo.mapper.UserMapper">

    <select id="getByUserNameAndPassword" parameterType="User" resultType="User">
        select *
        from user
        where user_name = #{userName}
          and password = #{password}
    </select>
</mapper>

        作者：BestAns
        链接：https://juejin.cn/post/7182832936545157175
        来源：稀土掘金
        著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。